/* Global Styling for Scrollable Content */
.body {
  overflow-y: auto;
  max-height: 100vh;
}

/* Custom Scrollbar Styling for WebKit browsers */
.body::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

.body::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}


/* Optional: Smooth scrolling effect for better UX */
html {
  scroll-behavior: smooth;
}

